{% extends 'base.html' %}

{% block fnnav %}
  <li><a href="{{ url_for('master.masterdetail', id=master['top_id']) }}">Back to master entry</a></li>
  {% if g.user %}

  {% endif %}
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block content %}
<h1>{%block title %}Editing {{ master['artist'] }} - {{ master['title'] }}{% endblock %}</h1>

<form method="post">
  <label for="title">Title</label>
  <input name="title" id="title" value="{{ master['title'] }}" required>
  <label for="artist">Artist</label>
  <input name="artist" id="artist" value="{{ master['artist'] }}" required>
  <label for="year">Year</label>
  <input name="year" id="year" value="{{ master['year'] }}" required>
  <label for="genres">Genre(s)</label>
  <input name="genres" id="genres" value="{{ master['genres'] }}" >
  <label for="producer">Producer</label>
  <input name="producer" id="producer" value="{{ master['producer'] }}" >
  <label for="cover_designer">Cover designer</label>
  <input name="cover_designer" id="cover_designer" value="{{ master['cover_designer'] }}" >
  <label for="discogs_mid">Discogs master ID</label>
  <input name="discogs_mid" id="discogs_mid" value="{{ master['discogs_mid'] }}" >
  <label for="cert">Certification</label>
  <span class="radio"><input name="cert" id="cert" value="none" type="radio"> None</span>
  <span class="radio"><input name="cert" id="cert" value="gold" type="radio"> Gold</span>
  <span class="radio"><input name="cert" id="cert" value="platinum" type="radio"> Platinum</span>
  <span class="radio"><input name="cert" id="cert" value="multi-platinum" type="radio"> Multi-platinum</span>
  <span class="radio"><input name="cert" id="cert" value="diamond" type="radio"> Diamond</span>
  <label for="comments">Comments</label>
  <textarea name="comments" id="comments" >{{ master['comments'] }}</textarea>
  <input type="submit" value="Submit">
</form>


{% endblock %}
