{% extends 'base.html' %}

{% block fnnav %}
  {% if g.user %}
  <li>Master actions
  <ul>
    <li><a href="{{ url_for('master.masteredit', id=master['top_id']) }}">Edit master</a></li>
    <li><a href="{{ url_for('release.new', mid=master['top_id']) }}">Add release</a></li>
  </ul></li>

  {% endif %}
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
<h1>{%block title %}{{ master['artist'] }} - {{ master['title'] }} ({{ master['year'] }}){% endblock %}</h1>

<ul>
  <li>Genre(s): {{ master['genres'] }}</li>
  <li>Certification: {{ master['cert'] }}</li>
  <li>Producer: {{ master['producer'] }}</li>
  <li>Cover designer: {{ master['cover_designer'] }}</li>
</ul>

<div id="comments">{{ master['comments'] }}</div>

<h2>Releases in collection:</h2>
<table class='releasetable'>
  <tr class='head'>
    <th>Catalog Number</th>
    <th>Label</th>
    <th>Format</th>
    <th>Discogs Release</th>
    <th>Notes</th>
    <th></th>
  </tr>
  {% for release in releases %}
  <tr>
    <td><a href="{{ url_for('release.detail', rid=release['rid']) }}">{{ release['cat_no'] }}</a></td>
    <td>{{ release['label'] }}</td>
    <td>{{ release['mtype'] }}, {{ release['stype'] }}</td>
    <td><a href="https://discogs.com/release/{{ release['discogs_rid'] }}"> {{ release['discogs_rid'] }}</a></td>
    <td>???</td>
    {% if g.user %}
    <td><a href="{{ url_for('release.edit', rid=release['rid']) }}">Edit</a>
      <a href="{{ url_for('release.delete', rid=release['rid']) }}">Delete</a></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
<em>{{ releases|length }} found.</em>

{% endblock %}
