{% extends 'base.html' %}

{% block fnnav %}
<li><a href="{{ url_for('master.masterdetail', id=release['top_id']) }}">Return to master</a></li>
  {% if g.user %}
  <li>Release actions
  <ul>
    <li><a href="{{ url_for('release.edit', rid=release['rid']) }}">Edit release</a></li>
    <li><a href="{{ url_for('release.delete', rid=release['rid']) }}">Delete release</a></li>
  </ul></li>
  {% endif %}
{% endblock %}

{% block content %}
<h1>{% block title %}{{ release['label'] }} - {{ release['cat_no'] }}{% endblock %}</h1>
<div>
{{ release['notes'] }}
</div>
<ul>
  <li>Release cover designer: {{ release['rcover_designer'] }}</li>
  <li>Release year: {{ release['ryear'] }}</li>
  <li>Format: {{ release['mtype'] }} ({{ release['stype'] }})</li>
</ul>

{% endblock %}
