/*
tr.listingtablerow:nth-child(odd) {
        background-color: gray;
}
*/

tr:hover {
        background-color: #b3b3ff;
}

tr.head:hover {
  background-color: white;
}

table {
        border-collapse: collapse;
        width: 100%;
}

tr.head {
        border-top: 2px double #ddd;
        border-bottom: 2px solid #ddd;
}


th {
        /*width: 20%;*/
        font-style: italic;
        text-align: left;
}


tr:nth-child(even) {
        background-color: #f2f2f2;
}

td {
        padding: 3px;
}

tr:hover {
        background-color: #b3b3ff;
}
