<!doctype html>
<title>{% block title %}{% endblock %} - MusicShelf</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">

{% block includes %}{% endblock %}

  <ul id="nav">
    <li><a class="nolink">NMS</a class="nolink"></li>
    <li><a href="/">Master list</a></li>
    <li><a href="" class="inactive">Search collection</a></li>
    {% if g.user %}
    <li><a href="{{ url_for('master.new') }}">New master</a></li>
    {% endif %}
    {% block fnnav %}{% endblock %}

    {% if g.user %}
      <li class="login"><a class="nolink">{{ g.user }}</a></li>
      <li class="login"><a href="{{ url_for('user.logout') }}">Log Out</a></li>
    {% else %}
      <li class="login"><a href="{{ url_for('user.login') }}">Log In</a></li>
    {% endif %}
  </ul>

<div id="spacing"></div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
